body {
	text-align: center;
    background: url(https://www.crowell.com/files/images/bio_bg_wadc.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}	
}
.navbar {
	font-weight: bold;
	text-transform: uppercase;
}
h1 {
	text-transform: uppercase;

}
h4 {
	color: navy;
}
.socialmedia {
	text-align: left;
}
/*.socialmedia a:after {
	content: " | ";
}*/
.socialmedia a {
	text-decoration: none;
}
.subtitles {
	text-align: left;
}
.workexperience {
	text-align: left;
}
.education {
	text-align: left;
}
.list {
	text-indent: 50px;
}
.image {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}
.entry_wrapper {
	background-color: #666;
	padding: 20px;
	text-align: center;
	width: 600px;
}
.social-icon {
	display: inline-block;
	padding: 0 5px;
}
.button {
	background-color: #ff0;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	width: 80px;
}